.bag {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: aquamarine;
  padding: 0.5em;
  height: 3em;
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  z-index: 3;
}
.bag:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.cartMenu {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  position: fixed;
  background-color: yellowgreen;
  right: 1em;
  bottom: 1em;
  height: 80vh;
  width: 50vw;
  border-radius: 0.5em;
  z-index: 2;
}

.cartMenu ul{
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  height: 100%;
}

.cartItem{
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: burlywood;
  width: 100%;
  padding: 0.5em;
  border-radius:0.5em;
}
.cartItem__image{
  max-width: 5em;
}
.cartItem__control{
  align-items: center ;
  display: flex;
  gap: 0.2em;

}