#CardList {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
  position: relative;
  justify-content: center;
  overflow-y: scroll;
}

.modal{
  right: 0;
  z-index: 1;
  position: absolute;
  width: 30vw;
  height: 3em;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
}