.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
}

.Card__Img {
  max-width: 50%;
}
.Card__Img--opacity {
  opacity: 0.7; 
}

.Card__action {
  padding: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top:0;
  width: 50%;
  height: 77%;
  padding: 0.5em;
  background: transparent;
  color: gray;
  border: 2px solid grey;
  transition: 0.3s ease-in all;
}
.Card__action button{
  padding: 0.5em;
  background-color: transparent;
  border: 2px solid gray;
  color: gray;
}

.Card__Description{
  color: rgb(5, 4, 4);
}
.Card__action button:hover {
  cursor: pointer;
  background: rgb(0, 0, 0);
  color: rgb(209, 209, 209);
  border: 2px solid black;
}
