.cartItem{
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: burlywood;
  width: 100%;
  padding: 0.5em;
  border-radius:0.5em;
  justify-content: space-between;
}
.cartItem__image{
  max-width: 5em;
}
.cartItem__control{
  align-items: center ;
  display: flex;
  gap: 0.2em;
  font-size: 1.2em;
}
.minus:hover{
  color: #d83535
}
.plus:hover{
  color: #33bd33;
}