footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: burlywood;
  align-self: flex-end;
  z-index: 1;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 1em;
}
