@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Dancing+Script&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body,
html{
  width: 100%;
  min-height: 100vh;
  background: #FAF3DD;
  font-family: 'Amiri', serif;
}

body{
  padding-bottom: 2em;
}
section{
  width: 100%;
}
.Home{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.hidden{
  display: none !important;
}
li{
  list-style: none;
}
fieldset{
  border: none;
}
textarea:focus, input:focus{
  outline: none;
}

button:hover{
  cursor: pointer;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #3b730c #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
    position: absolute;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3b730c;
    border-radius: 4px;
    border: 3px double #ffffff;
  }